langchain
langchain_community
langchain_groq
langchain_agent
langchain_core
langsmith
langchain-openai
langchain-text-splitters
langchain-chroma
streamlit
scholarly
requests
python-dotenv
pydantic
xmltodict
validators
pypdf
pymupdf
pypi
unstructured
arxiv
wikipedia
bs4
youtube_transcript_api
pytube
SQLAlchemy
mysql-connector-python
numexpr

